<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Information</title>
  <style>
        body {
  font-family: sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  text-align: left;
  background-color: #f2f2f2;
}
  </style>

</head>
<body>
  <h1>Booking Information</h1>
  <table border="2" text="white", background="black">
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Room category</th>
        <th>Pet Owner</th>
        <th>Total Pets</th>
        <th> Cost </th>
      </tr>
    </thead>
    <tbody>
{% for book in bookings %}
      <tr>
        <td>{{book.id}}</td>
          <td>{{book.check_in_date}}</td>
          <td>{{book.check_out_date}}</td>
          <td>{{book.room_category}}</td>
          <td>{{book.customer.first_name}} {{book.customer.last_name}}</td>
          <td>{{book.number_of_pets}}</td>
          <td>{{book.cost}}</td>
      </tr>
{% endfor %}

    </tbody>
  </table>
</body>
</html>
